.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group button
{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.cancel-button {
     padding: 10px 20px;
     background-color: #dc3545;
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

.cancel-button:hover {
    background-color: #c82333;
}

.form-group .submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-left: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.cancel-button {
    padding: 10px 20px;
    background-color: #dc3545; /* Cor de fundo vermelha */
    color: #fff; /* Cor do texto branca */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c82333; /* Cor de fundo vermelha mais escura quando passar o mouse */
}